<!doctype html>
{% load static %}

<html lang="en">
<head>

  <meta charset="utf-8">
  {% block title %}
  <title>{{ story.title }}</title>
  {% endblock title %}
  <meta name="description" content="THOMSOON">
  <meta name="keywords" content="thomsoon, simplicity, theme, html5, single page, boxed portfolio">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="thomsoon.com">
  <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}" />

<!--Style-->

  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style-responsive.css' %}">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body>
{% include 'include/preloader.html' %}
{% include 'include/menu.html' %}
{% include 'include/header.html' %}
<div class="content" id="ajax-content">
  <div class="text-intro">
  {% block content %}


  {% endblock content %}
  </div>
</div>
{% include 'include/sidebar.html' %}
{% include 'include/footer.html' %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.42534.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.waitforimages.js' %}" type="text/javascript"></script>
<script src="{% static 'js/typed.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.jkit.1.2.16.min.js' %}"></script>

<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<script>
  $('#button, #buttons').on('click', function() {
    $( ".opacity-nav" ).fadeToggle( "slow", "linear" );
  });
</script>

</body>

</html>
