{% extends 'shortstoryapp/base.html' %}
{% block title %}
<title>О сайте</title>
{% endblock title %}
  <!--Content-->
  {% block content %}
  <div class="content" id="ajax-content">


        <div class="text-intro">

          <h1>О сайте</h1>

          <div class="one-column">
            <p>Разработал студент группы  ПИН-42
            <br/> Шумник Алексей</p>
            <p>для выполнения лабораторных по дисциплине web-программирование</p>

          </div>


          <div class="two-column">

            <p>Суть сайта:<br/><br/>
            На ShortSTORY Вы можете отдохнуть/отвлечься во время чтения коротких рассказов, которое займет 5-15 минут
            <br/>
            так же можно прочитать краткую биографию автора
            <br/>
            Для того чтобы получить доступ к рассказам, надо зарегестрироваться.
            <br/><br/>

            Функционал сайта:
              <br/>- перенесен на Django
              <br/>- использованы шаблоны
              <br/>- созданы модели и БД
              <br/>- добавлена регистрация
              <br/>- добавлен like/dislike
              <br/><br/> В процессе:
              <br/>- выгрузить на хостинг

            </p>
            <br/><br/>
          </div>


        </div>

  </div>
  {% endblock content %}
