{% extends 'shortstoryapp/base.html' %}
<div class="clear"></div>
{% block title %}
<title>{{ author.name }}</title>
{% endblock title %}
  <!--Content-->
  {% block content %}
  <div class="content" id="ajax-content">
        <div class="text-intro">
          <h1>{{ author.name }}</h1>
              <div class="two-column">
		            <p>{{ author.description }}</p>
		          </div>
              <br/><br/><br/>
              <div class="one-colomn">
                <img src="{{ author.image.url }}" width="450" height="auto">
              </div>

                <div class="clear"></div>


					        <div class="prev-next">

					          <div class="prev-button"><a href="javascript:history.back()">Вернуться к рассказу</a></div>


					        </div>
            </div>

    </div>
{% endblock content %}
